.group{
		width: 400px;
		
	}
	.regis{
		text-align: right;
	}
	.info{
		margin-top: 10px;
	}
	.label{
		float: left;
		width: 70px;
	}
	.chk{
		margin-left: 10px;
	}
	.btn{
		margin-top: 15px;
		margin-left:25px;
	}
	.box {
	  	border-radius: 25px;
	    background: url(../img/csc.png);
	    background-position: 88% 70%;	   
	    background-repeat: no-repeat;
	    margin-bottom:20px;
	    padding: 20px; 
	    background-size: 100px 60px;	    
	}
	.btnStyle {
	  background: #3498db;
	  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	  background-image: -o-linear-gradient(top, #3498db, #2980b9);
	  background-image: linear-gradient(to bottom, #3498db, #2980b9);
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 28px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 14px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	}
	
	.btnStyle:hover {
	  background: #3cb0fd;
	  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	  text-decoration: none;
	}
	